# Dependencies

In [1]:
!pip install numpy==1.22.4
!pip install matplotlib==3.7.1
!pip install mglearn==0.2.0
!pip install pandas==2.0.3
!pip install scikit-learn==1.3.2
!pip install seaborn==0.13.1

WARNING: Ignoring invalid distribution -vidia-nccl-cu12 (/home/estelle/miniconda3/envs/rlnavenv/lib/python3.8/site-packages)
Requirement already satisfied: numpy==1.22.4 in /home/estelle/miniconda3/envs/rlnavenv/lib/python3.8/site-packages (1.22.4)
WARNING: Ignoring invalid distribution -vidia-nccl-cu12 (/home/estelle/miniconda3/envs/rlnavenv/lib/python3.8/site-packages)
WARNING: Ignoring invalid distribution -vidia-nccl-cu12 (/home/estelle/miniconda3/envs/rlnavenv/lib/python3.8/site-packages)
Requirement already satisfied: matplotlib==3.7.1 in /home/estelle/miniconda3/envs/rlnavenv/lib/python3.8/site-packages (3.7.1)
Requirement already satisfied: contourpy>=1.0.1 in /home/estelle/miniconda3/envs/rlnavenv/lib/python3.8/site-packages (from matplotlib==3.7.1) (1.1.1)
Requirement already satisfied: cycler>=0.10 in /home/estelle/miniconda3/envs/rlnavenv/lib/python3.8/site-packages (from matplotlib==3.7.1) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /home/estelle/miniconda3/envs/rlnavenv/lib/python3.8/site-packages (from matplotlib==3.7.1) (4.45.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /home/estelle/miniconda3/envs/rlnavenv/lib/python3.8/site-packages (from matplotlib==3.7.1) (1.4.5)
Requirement already satisfied: numpy>=1.20 in /home/estelle/miniconda3/envs/rlnavenv/lib/python3.8/site-packages (from matplotlib==3.7.1) (1.22.4)
Requirement already satisfied: packaging>=20.0 in /home/estelle/miniconda3/envs/rlnavenv/lib/python3.8/site-packages (from matplotlib==3.7.1) (23.2)
Requirement already satisfied: pillow>=6.2.0 in /home/estelle/miniconda3/envs/rlnavenv/lib/python3.8/site-packages (from matplotlib==3.7.1) (10.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in /home/estelle/miniconda3/envs/rlnavenv/lib/python3.8/site-packages (from matplotlib==3.7.1) (3.1.1)
Requirement already satisfied: python-dateutil>=2.7 in /home/estelle/miniconda3/envs/rlnavenv/lib/python3.8/site-packages (from matplotlib==3.7.1) (2.8.2)
Requirement already satisfied: importlib-resources>=3.2.0 in /home/estelle/miniconda3/envs/rlnavenv/lib/python3.8/site-packages (from matplotlib==3.7.1) (6.1.1)
Requirement already satisfied: zipp>=3.1.0 in /home/estelle/miniconda3/envs/rlnavenv/lib/python3.8/site-packages (from importlib-resources>=3.2.0->matplotlib==3.7.1) (3.17.0)
Requirement already satisfied: six>=1.5 in /home/estelle/miniconda3/envs/rlnavenv/lib/python3.8/site-packages (from python-dateutil>=2.7->matplotlib==3.7.1) (1.16.0)
WARNING: Ignoring invalid distribution -vidia-nccl-cu12 (/home/estelle/miniconda3/envs/rlnavenv/lib/python3.8/site-packages)
WARNING: Ignoring invalid distribution -vidia-nccl-cu12 (/home/estelle/miniconda3/envs/rlnavenv/lib/python3.8/site-packages)
Requirement already satisfied: mglearn==0.2.0 in /home/estelle/miniconda3/envs/rlnavenv/lib/python3.8/site-packages (0.2.0)
Requirement already satisfied: numpy in /home/estelle/miniconda3/envs/rlnavenv/lib/python3.8/site-packages (from mglearn==0.2.0) (1.22.4)
Requirement already satisfied: matplotlib in /home/estelle/miniconda3/envs/rlnavenv/lib/python3.8/site-packages (from mglearn==0.2.0) (3.7.1)
Requirement already satisfied: scikit-learn in /home/estelle/miniconda3/envs/rlnavenv/lib/python3.8/site-packages (from mglearn==0.2.0) (1.3.2)
Requirement already satisfied: pandas in /home/estelle/miniconda3/envs/rlnavenv/lib/python3.8/site-packages (from mglearn==0.2.0) (2.0.3)
Requirement already satisfied: pillow in /home/estelle/miniconda3/envs/rlnavenv/lib/python3.8/site-packages (from mglearn==0.2.0) (10.1.0)
Requirement already satisfied: cycler in /home/estelle/miniconda3/envs/rlnavenv/lib/python3.8/site-packages (from mglearn==0.2.0) (0.12.1)
Requirement already satisfied: imageio in /home/estelle/miniconda3/envs/rlnavenv/lib/python3.8/site-packages (from mglearn==0.2.0) (2.33.0)
Requirement already satisfied: joblib in /home/estelle/miniconda3/envs/rlnavenv/lib/python3.8/site-packages (from mglearn==0.2.0) (1.3.2)
Requirement already satisfied: contourpy>=1.0.1 in /home/estelle/miniconda3/envs/rlnavenv/lib/python3.8/site-packages (from matplotlib->mglearn==0.2.0) (1.1.1)
Requirement already satisfied: fonttools>=4.22.0 in /home/estelle/miniconda3/envs/rlnavenv/lib/python3.8/site-packages (from matplotlib->mglearn==0.2.0) (4.45.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /home/estelle/miniconda3/envs/rlnavenv/lib/python3.8/site-packages (from matplotlib->mglearn==0.2.0) (1.4.5)
Requirement already satisfied: packaging>=20.0 in /home/estelle/miniconda3/envs/rlnavenv/lib/python3.8/site-packages (from matplotlib->mglearn==0.2.0) (23.2)
Requirement already satisfied: pyparsing>=2.3.1 in /home/estelle/miniconda3/envs/rlnavenv/lib/python3.8/site-packages (from matplotlib->mglearn==0.2.0) (3.1.1)
Requirement already satisfied: python-dateutil>=2.7 in /home/estelle/miniconda3/envs/rlnavenv/lib/python3.8/site-packages (from matplotlib->mglearn==0.2.0) (2.8.2)
Requirement already satisfied: importlib-resources>=3.2.0 in /home/estelle/miniconda3/envs/rlnavenv/lib/python3.8/site-packages (from matplotlib->mglearn==0.2.0) (6.1.1)
Requirement already satisfied: pytz>=2020.1 in /home/estelle/miniconda3/envs/rlnavenv/lib/python3.8/site-packages (from pandas->mglearn==0.2.0) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /home/estelle/miniconda3/envs/rlnavenv/lib/python3.8/site-packages (from pandas->mglearn==0.2.0) (2023.3)
Requirement already satisfied: scipy>=1.5.0 in /home/estelle/miniconda3/envs/rlnavenv/lib/python3.8/site-packages (from scikit-learn->mglearn==0.2.0) (1.10.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /home/estelle/miniconda3/envs/rlnavenv/lib/python3.8/site-packages (from scikit-learn->mglearn==0.2.0) (3.2.0)
Requirement already satisfied: zipp>=3.1.0 in /home/estelle/miniconda3/envs/rlnavenv/lib/python3.8/site-packages (from importlib-resources>=3.2.0->matplotlib->mglearn==0.2.0) (3.17.0)
Requirement already satisfied: six>=1.5 in /home/estelle/miniconda3/envs/rlnavenv/lib/python3.8/site-packages (from python-dateutil>=2.7->matplotlib->mglearn==0.2.0) (1.16.0)
WARNING: Ignoring invalid distribution -vidia-nccl-cu12 (/home/estelle/miniconda3/envs/rlnavenv/lib/python3.8/site-packages)
WARNING: Ignoring invalid distribution -vidia-nccl-cu12 (/home/estelle/miniconda3/envs/rlnavenv/lib/python3.8/site-packages)
Requirement already satisfied: pandas==2.0.3 in /home/estelle/miniconda3/envs/rlnavenv/lib/python3.8/site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/estelle/miniconda3/envs/rlnavenv/lib/python3.8/site-packages (from pandas==2.0.3) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/estelle/miniconda3/envs/rlnavenv/lib/python3.8/site-packages (from pandas==2.0.3) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /home/estelle/miniconda3/envs/rlnavenv/lib/python3.8/site-packages (from pandas==2.0.3) (2023.3)
Requirement already satisfied: numpy>=1.20.3 in /home/estelle/miniconda3/envs/rlnavenv/lib/python3.8/site-packages (from pandas==2.0.3) (1.22.4)
Requirement already satisfied: six>=1.5 in /home/estelle/miniconda3/envs/rlnavenv/lib/python3.8/site-packages (from python-dateutil>=2.8.2->pandas==2.0.3) (1.16.0)
WARNING: Ignoring invalid distribution -vidia-nccl-cu12 (/home/estelle/miniconda3/envs/rlnavenv/lib/python3.8/site-packages)
WARNING: Ignoring invalid distribution -vidia-nccl-cu12 (/home/estelle/miniconda3/envs/rlnavenv/lib/python3.8/site-packages)
Requirement already satisfied: scikit-learn==1.3.2 in /home/estelle/miniconda3/envs/rlnavenv/lib/python3.8/site-packages (1.3.2)
Requirement already satisfied: numpy<2.0,>=1.17.3 in /home/estelle/miniconda3/envs/rlnavenv/lib/python3.8/site-packages (from scikit-learn==1.3.2) (1.22.4)
Requirement already satisfied: scipy>=1.5.0 in /home/estelle/miniconda3/envs/rlnavenv/lib/python3.8/site-packages (from scikit-learn==1.3.2) (1.10.1)
Requirement already satisfied: joblib>=1.1.1 in /home/estelle/miniconda3/envs/rlnavenv/lib/python3.8/site-packages (from scikit-learn==1.3.2) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /home/estelle/miniconda3/envs/rlnavenv/lib/python3.8/site-packages (from scikit-learn==1.3.2) (3.2.0)

WARNING: Ignoring invalid distribution -vidia-nccl-cu12 (/home/estelle/miniconda3/envs/rlnavenv/lib/python3.8/site-packages)
WARNING: Ignoring invalid distribution -vidia-nccl-cu12 (/home/estelle/miniconda3/envs/rlnavenv/lib/python3.8/site-packages)
Requirement already satisfied: seaborn==0.13.1 in /home/estelle/miniconda3/envs/rlnavenv/lib/python3.8/site-packages (0.13.1)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in /home/estelle/miniconda3/envs/rlnavenv/lib/python3.8/site-packages (from seaborn==0.13.1) (1.22.4)
Requirement already satisfied: pandas>=1.2 in /home/estelle/miniconda3/envs/rlnavenv/lib/python3.8/site-packages (from seaborn==0.13.1) (2.0.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in /home/estelle/miniconda3/envs/rlnavenv/lib/python3.8/site-packages (from seaborn==0.13.1) (3.7.1)
Requirement already satisfied: contourpy>=1.0.1 in /home/estelle/miniconda3/envs/rlnavenv/lib/python3.8/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn==0.13.1) (1.1.1)
Requirement already satisfied: cycler>=0.10 in /home/estelle/miniconda3/envs/rlnavenv/lib/python3.8/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn==0.13.1) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /home/estelle/miniconda3/envs/rlnavenv/lib/python3.8/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn==0.13.1) (4.45.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /home/estelle/miniconda3/envs/rlnavenv/lib/python3.8/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn==0.13.1) (1.4.5)
Requirement already satisfied: packaging>=20.0 in /home/estelle/miniconda3/envs/rlnavenv/lib/python3.8/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn==0.13.1) (23.2)
Requirement already satisfied: pillow>=6.2.0 in /home/estelle/miniconda3/envs/rlnavenv/lib/python3.8/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn==0.13.1) (10.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in /home/estelle/miniconda3/envs/rlnavenv/lib/python3.8/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn==0.13.1) (3.1.1)
Requirement already satisfied: python-dateutil>=2.7 in /home/estelle/miniconda3/envs/rlnavenv/lib/python3.8/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn==0.13.1) (2.8.2)
Requirement already satisfied: importlib-resources>=3.2.0 in /home/estelle/miniconda3/envs/rlnavenv/lib/python3.8/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn==0.13.1) (6.1.1)
Requirement already satisfied: pytz>=2020.1 in /home/estelle/miniconda3/envs/rlnavenv/lib/python3.8/site-packages (from pandas>=1.2->seaborn==0.13.1) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /home/estelle/miniconda3/envs/rlnavenv/lib/python3.8/site-packages (from pandas>=1.2->seaborn==0.13.1) (2023.3)
Requirement already satisfied: zipp>=3.1.0 in /home/estelle/miniconda3/envs/rlnavenv/lib/python3.8/site-packages (from importlib-resources>=3.2.0->matplotlib!=3.6.1,>=3.4->seaborn==0.13.1) (3.17.0)
Requirement already satisfied: six>=1.5 in /home/estelle/miniconda3/envs/rlnavenv/lib/python3.8/site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn==0.13.1) (1.16.0)
WARNING: Ignoring invalid distribution -vidia-nccl-cu12 (/home/estelle/miniconda3/envs/rlnavenv/lib/python3.8/site-packages)

In [2]:
!pip freeze

WARNING: Ignoring invalid distribution -vidia-nccl-cu12 (/home/estelle/miniconda3/envs/rlnavenv/lib/python3.8/site-packages)
absl-py==2.0.0
ale-py==0.8.1
anyio==4.1.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens @ file:///opt/conda/conda-bld/asttokens_1646925590279/work
async-lru==2.0.4
attrs==23.1.0
AutoROM==0.6.1
AutoROM.accept-rom-license==0.6.1
Babel==2.13.1
backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
beautifulsoup4==4.12.2
bleach==6.1.0
Box2D==2.3.10
cachetools==5.3.2
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
cloudpickle==3.0.0
comm==0.2.0
contourpy==1.1.1
cycler==0.12.1
Cython==0.29.35
debugpy==1.8.0
decorator @ file:///opt/conda/conda-bld/decorator_1643638310831/work
defusedxml==0.7.1
dill==0.3.7
easyocr==1.7.1
entrypoints==0.4
exceptiongroup==1.2.0
executing @ file:///opt/conda/conda-bld/executing_1646925071911/work
experiment-utilities==0.3.6
Farama-Notifications==0.0.4
fasteners==0.19
fastjsonschema==2.19.0
filelock==3.13.1
fonttools==4.45.1
fqdn==1.5.1
fsspec==2023.12.1
glfw==2.7.0
google-auth==2.23.4
google-auth-oauthlib==1.0.0
grpcio==1.59.3
gym==0.26.2
gym-notices==0.0.8
gymnasium==0.28.1
-e git+ssh://git@gitlab.inria.fr/robotlearn/human_aware_navigation_rl.git@b97d9d335ff99821986bd3ba998a2d486bdb2e7c#egg=human_aware_navigation_rl
idna==3.4
imageio==2.33.0
importlib-metadata==6.8.0
importlib-resources==6.1.1
ipykernel==6.27.0
ipynbname==2023.2.0.0
ipython @ file:///croot/ipython_1691532092695/work
ipython-genutils==0.2.0
ipywidgets==7.6.5
isoduration==20.11.0
jax-jumpy==1.0.0
jedi @ file:///tmp/build/80754af9/jedi_1644315233700/work
Jinja2==3.1.2
joblib==1.3.2
json5==0.9.14
jsonpointer==2.4
jsonschema==4.20.0
jsonschema-specifications==2023.11.1
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-contrib-core==0.4.2
jupyter-contrib-nbextensions==0.7.0
jupyter-events==0.9.0
jupyter-highlight-selected-word==0.2.0
jupyter-lsp==2.2.0
jupyter-nbextensions-configurator==0.6.3
jupyter_client==7.4.9
jupyter_core==5.5.0
jupyter_server==2.10.1
jupyter_server_terminals==0.4.4
jupyterlab==4.0.9
jupyterlab-widgets==3.0.9
jupyterlab_pygments==0.3.0
jupyterlab_server==2.25.2
kiwisolver==1.4.5
lazy_loader==0.3
lxml==4.9.3
Markdown==3.5.1
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.7.1
matplotlib-inline @ file:///opt/conda/conda-bld/matplotlib-inline_1662014470464/work
mdurl==0.1.2
mglearn==0.2.0
mistune==3.0.2
-e git+ssh://git@gitlab.inria.fr/spring/wp6_robot_behavior/multiparty_interaction_simulator.git@7495db2419cdb73afac0ce6f85baaffe5cb6fd77#egg=mpi_sim
mpmath==1.3.0
mujoco==2.2.0
nbclassic==1.0.0
nbclient==0.9.0
nbconvert==7.11.0
nbformat==5.9.2
nest-asyncio==1.5.8
networkx==3.1
ninja==1.11.1.1
notebook==6.5.6
notebook_shim==0.2.3
numpy==1.22.4
nvidia-cublas-cu11==11.10.3.66
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu11==8.5.0.96
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.19.3
nvidia-nvjitlink-cu12==12.3.101
nvidia-nvtx-cu12==12.1.105
oauthlib==3.2.2
odfpy==1.4.1
opencv-contrib-python==4.9.0.80
opencv-python==4.8.0.74
opencv-python-headless==4.8.1.78
overrides==7.4.0
packaging==23.2
pandas==2.0.3
pandocfilters==1.5.0
parso @ file:///opt/conda/conda-bld/parso_1641458642106/work
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
Pillow==10.1.0
pkgutil_resolve_name==1.3.10
platformdirs==4.0.0
plotly==5.18.0
prometheus-client==0.19.0
prompt-toolkit @ file:///croot/prompt-toolkit_1672387306916/work
protobuf==4.25.1
psutil==5.9.6
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure-eval @ file:///opt/conda/conda-bld/pure_eval_1646925070566/work
pyasn1==0.5.1
pyasn1-modules==0.3.0
pyclipper==1.3.0.post5
pycparser==2.21
pygame==2.5.2
pyglet==2.0.14
Pygments @ file:///croot/pygments_1684279966437/work
PyOpenGL==3.1.7
pyparsing==3.1.1
python-bidi==0.4.2
python-dateutil==2.8.2
python-json-logger==2.0.7
pytz==2023.3.post1
PyWavelets==1.4.1
PyYAML==6.0.1
pyzmq==24.0.1
qgrid==1.3.1
qtconsole==5.5.1
QtPy==2.4.1
referencing==0.31.0
requests==2.31.0
requests-oauthlib==1.3.1
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.1
rpds-py==0.13.1
rsa==4.9
scikit-fmm==2023.4.2
scikit-image==0.21.0
scikit-learn==1.3.2
scipy==1.10.1
seaborn==0.13.1
Send2Trash==1.8.2
shapely==2.0.2
Shimmy==1.1.0
six @ file:///tmp/build/80754af9/six_1644875935023/work
skfeature-chappers==1.1.0
sniffio==1.3.0
soupsieve==2.5
stable-baselines3==2.1.0
stack-data @ file:///opt/conda/conda-bld/stack_data_1646927590127/work
sympy==1.12
tabulate==0.9.0
tenacity==8.2.3
tensorboard==2.13.0
tensorboard-data-server==0.7.2
tensordict==0.3.1
terminado==0.18.0
threadpoolctl==3.2.0
tifffile==2023.7.10
tinycss2==1.2.1
tomli==2.0.1
torch==2.2.1
torchrl==0.3.1
torchvision==0.16.1
tornado==6.3.3
tqdm==4.65.0
traitlets==5.13.0
triton==2.2.0
types-python-dateutil==2.8.19.14
typing_extensions==4.10.0
tzdata==2023.3
uri-template==1.3.0
urllib3==2.1.0
wcwidth==0.2.12
webcolors==1.13
webencodings==0.5.1
websocket-client==1.6.4
Werkzeug==3.0.1
widgetsnbextension==3.5.2
zipp==3.17.0

# Dataset

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import mglearn
from IPython.display import display
import seaborn as sns
from sklearn import datasets
from sklearn.cluster import KMeans

In [4]:
df=pd.read_csv("airline_satisfaction.csv")

In [5]:
y = df.satisfaction.values

categorical_variables = ['Gender','Customer Type','Type of Travel','Class']

quantitative_variables = ['Age','Flight Distance', 'Departure Delay in Minutes','Arrival Delay in Minutes']

ordinal_variables = ['Inflight wifi service', 'Departure/Arrival time convenient','Ease of Online booking', 
                     'Gate location','Food and drink','Online boarding','Seat comfort','Inflight entertainment',
                     'On-board service','Leg room service','Baggage handling','Checkin service','Inflight service',
                     'Cleanliness']

X = df[categorical_variables + quantitative_variables + ordinal_variables].values
X_quantitative = df[quantitative_variables].values
X_categorical = df[categorical_variables].values
X_ordinal = df[ordinal_variables].values

In [6]:
df.head()

,Unnamed: 0,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,0,70172,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4,...,5,4,3,4,4,5,5,25,18.0,neutral or dissatisfied
1,1,5047,Male,disloyal Customer,25,Business travel,Business,235,3,2,...,1,1,5,3,1,4,1,1,6.0,neutral or dissatisfied
2,2,110028,Female,Loyal Customer,26,Business travel,Business,1142,2,2,...,5,4,3,4,4,4,5,0,0.0,satisfied
3,3,24026,Female,Loyal Customer,25,Business travel,Business,562,2,5,...,2,2,5,3,1,4,2,11,9.0,neutral or dissatisfied
4,4,119299,Male,Loyal Customer,61,Business travel,Business,214,3,3,...,3,3,4,4,3,3,3,0,0.0,satisfied

# Data Preprocessing

## Encoding Variables

### One-Hot Encoding
for categorical variables

In [7]:
from sklearn.preprocessing import OneHotEncoder

In [8]:
one_hot_encoder = OneHotEncoder()

In [9]:
one_hot_encoder.fit(X_categorical)
one_hot_encoded_X = one_hot_encoder.transform(X_categorical)

In [10]:
one_hot_encoded_X.toarray()

array([[0., 1., 1., ..., 0., 0., 1.],
       [0., 1., 0., ..., 1., 0., 0.],
       [1., 0., 1., ..., 1., 0., 0.],
       ...,
       [1., 0., 1., ..., 0., 1., 0.],
       [0., 1., 1., ..., 1., 0., 0.],
       [1., 0., 1., ..., 0., 1., 0.]])

In [11]:
one_hot_encoder.get_feature_names_out()

array(['x0_Female', 'x0_Male', 'x1_Loyal Customer',
       'x1_disloyal Customer', 'x2_Business travel', 'x2_Personal Travel',
       'x3_Business', 'x3_Eco', 'x3_Eco Plus'], dtype=object)

In [12]:
one_hot_encoded_X

<129880x9 sparse matrix of type '<class 'numpy.float64'>'
	with 519520 stored elements in Compressed Sparse Row format>

In [13]:
df_categorical=df[categorical_variables]

In [14]:
categorical_cols = df.select_dtypes(include=['object']).columns
df_encoded = pd.get_dummies(df, columns=categorical_cols)

print("Number of new columns generated after one-hot encoding:", df_encoded.shape[1] - df.shape[1])

Number of new columns generated after one-hot encoding: 6

In [15]:
X_categorical_encoded = pd.concat([df_categorical, df_encoded], axis=1)

In [16]:
X_categorical_encoded

,Gender,Customer Type,Type of Travel,Class,Unnamed: 0,id,Age,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,...,Gender_Male,Customer Type_Loyal Customer,Customer Type_disloyal Customer,Type of Travel_Business travel,Type of Travel_Personal Travel,Class_Business,Class_Eco,Class_Eco Plus,satisfaction_neutral or dissatisfied,satisfaction_satisfied
0,Male,Loyal Customer,Personal Travel,Eco Plus,0,70172,13,460,3,4,...,True,True,False,False,True,False,False,True,True,False
1,Male,disloyal Customer,Business travel,Business,1,5047,25,235,3,2,...,True,False,True,True,False,True,False,False,True,False
2,Female,Loyal Customer,Business travel,Business,2,110028,26,1142,2,2,...,False,True,False,True,False,True,False,False,False,True
3,Female,Loyal Customer,Business travel,Business,3,24026,25,562,2,5,...,False,True,False,True,False,True,False,False,True,False
4,Male,Loyal Customer,Business travel,Business,4,119299,61,214,3,3,...,True,True,False,True,False,True,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129875,Male,disloyal Customer,Business travel,Business,25971,78463,34,526,3,3,...,True,False,True,True,False,True,False,False,True,False
129876,Male,Loyal Customer,Business travel,Business,25972,71167,23,646,4,4,...,True,True,False,True,False,True,False,False,False,True
129877,Female,Loyal Customer,Personal Travel,Eco,25973,37675,17,828,2,5,...,False,True,False,False,True,False,True,False,True,False
129878,Male,Loyal Customer,Business travel,Business,25974,90086,14,1127,3,3,...,True,True,False,True,False,True,False,False,False,True
129879,Female,Loyal Customer,Personal Travel,Eco,25975,34799,42,264,2,5,...,False,True,False,False,True,False,True,False,True,False

### Ordinal Encoding

In [17]:
from sklearn.preprocessing import LabelEncoder

In [18]:
label_encoder = LabelEncoder()

In [19]:
X_ordinal_encoded = np.zeros_like(X_ordinal)

In [20]:
for i in range(X_ordinal.shape[1]):
    X_ordinal_encoded[:, i] = label_encoder.fit_transform(X_ordinal[:, i])

In [21]:
for i, col in enumerate(ordinal_variables):
    print(f"===== Encoded classes for {col}: {label_encoder.classes_}")

===== Encoded classes for Inflight wifi service: [0 1 2 3 4 5]
===== Encoded classes for Departure/Arrival time convenient: [0 1 2 3 4 5]
===== Encoded classes for Ease of Online booking: [0 1 2 3 4 5]
===== Encoded classes for Gate location: [0 1 2 3 4 5]
===== Encoded classes for Food and drink: [0 1 2 3 4 5]
===== Encoded classes for Online boarding: [0 1 2 3 4 5]
===== Encoded classes for Seat comfort: [0 1 2 3 4 5]
===== Encoded classes for Inflight entertainment: [0 1 2 3 4 5]
===== Encoded classes for On-board service: [0 1 2 3 4 5]
===== Encoded classes for Leg room service: [0 1 2 3 4 5]
===== Encoded classes for Baggage handling: [0 1 2 3 4 5]
===== Encoded classes for Checkin service: [0 1 2 3 4 5]
===== Encoded classes for Inflight service: [0 1 2 3 4 5]
===== Encoded classes for Cleanliness: [0 1 2 3 4 5]

In [22]:
X_ordinal_encoded

array([[3, 4, 3, ..., 4, 5, 5],
       [3, 2, 3, ..., 1, 4, 1],
       [2, 2, 2, ..., 4, 4, 5],
       ...,
       [2, 5, 1, ..., 5, 4, 2],
       [3, 3, 3, ..., 4, 5, 4],
       [2, 5, 2, ..., 1, 1, 1]])

In [23]:
X_ordinal_encoded.shape

(129880, 14)

In [24]:
X_ordinal.shape

(129880, 14)

### Creating encoded dataset

In [25]:
df_quantitative = pd.DataFrame(X_quantitative, columns=['Age','Flight Distance', 'Departure Delay in Minutes','Arrival Delay in Minutes'])

In [26]:
df_quantitative

,Age,Flight Distance,Departure Delay in Minutes,Arrival Delay in Minutes
0,13.0,460.0,25.0,18.0
1,25.0,235.0,1.0,6.0
2,26.0,1142.0,0.0,0.0
3,25.0,562.0,11.0,9.0
4,61.0,214.0,0.0,0.0
...,...,...,...,...
129875,34.0,526.0,0.0,0.0
129876,23.0,646.0,0.0,0.0
129877,17.0,828.0,0.0,0.0
129878,14.0,1127.0,0.0,0.0
129879,42.0,264.0,0.0,0.0

In [27]:
df_categorical_encoded = pd.DataFrame(X_categorical_encoded, columns=['Gender_Male','Customer Type_Loyal Customer', 'Customer Type_disloyal Customer', 'Type of Travel_Business travel', 'Type of Travel_Personal Travel', 'Class_Business', 'Class_Eco', 'Class_Eco Plus', 'satisfaction_neutral or dissatisfied', 'satisfaction_satisfied'])

In [28]:
df_categorical_encoded

,Gender_Male,Customer Type_Loyal Customer,Customer Type_disloyal Customer,Type of Travel_Business travel,Type of Travel_Personal Travel,Class_Business,Class_Eco,Class_Eco Plus,satisfaction_neutral or dissatisfied,satisfaction_satisfied
0,True,True,False,False,True,False,False,True,True,False
1,True,False,True,True,False,True,False,False,True,False
2,False,True,False,True,False,True,False,False,False,True
3,False,True,False,True,False,True,False,False,True,False
4,True,True,False,True,False,True,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...
129875,True,False,True,True,False,True,False,False,True,False
129876,True,True,False,True,False,True,False,False,False,True
129877,False,True,False,False,True,False,True,False,True,False
129878,True,True,False,True,False,True,False,False,False,True
129879,False,True,False,False,True,False,True,False,True,False

In [29]:
df_ordinal_encoded = pd.DataFrame(X_ordinal_encoded, columns=['Inflight wifi service','Departure/Arrival time convenient','Ease of Online booking','Gate location','Food and drink','Online boarding','Seat comfort','Inflight entertainment','On-board service','Leg room service','Baggage handling','Checkin service','Inflight service','Cleanliness'])

In [30]:
df_ordinal_encoded

,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,Food and drink,Online boarding,Seat comfort,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness
0,3,4,3,1,5,3,5,5,4,3,3,4,5,5
1,3,2,3,3,1,3,1,1,1,5,2,1,4,1
2,2,2,2,2,5,5,5,5,4,3,3,4,4,5
3,2,5,5,5,2,2,2,2,2,5,2,1,4,2
4,3,3,3,3,4,5,5,3,3,4,3,3,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129875,3,3,3,1,4,3,4,4,3,2,3,4,5,4
129876,4,4,4,4,4,4,4,4,4,5,4,5,5,4
129877,2,5,1,5,2,1,2,2,4,3,3,5,4,2
129878,3,3,3,3,4,4,4,4,3,2,4,4,5,4
129879,2,5,2,5,4,2,2,1,1,2,0,1,1,1

In [31]:
df_encoded = pd.concat([df_quantitative, df_categorical_encoded, df_ordinal_encoded], axis=1)

In [32]:
print(df_encoded)

         Age  Flight Distance  Departure Delay in Minutes  \
0       13.0            460.0                        25.0
1       25.0            235.0                         1.0
2       26.0           1142.0                         0.0
3       25.0            562.0                        11.0
4       61.0            214.0                         0.0
...      ...              ...                         ...
129875  34.0            526.0                         0.0
129876  23.0            646.0                         0.0
129877  17.0            828.0                         0.0
129878  14.0           1127.0                         0.0
129879  42.0            264.0                         0.0

        Arrival Delay in Minutes  Gender_Male  Customer Type_Loyal Customer  \
0                           18.0         True                          True
1                            6.0         True                         False
2                            0.0        False                          True
3                            9.0        False                          True
4                            0.0         True                          True
...                          ...          ...                           ...
129875                       0.0         True                         False
129876                       0.0         True                          True
129877                       0.0        False                          True
129878                       0.0         True                          True
129879                       0.0        False                          True

        Customer Type_disloyal Customer  Type of Travel_Business travel  \
0                                 False                           False
1                                  True                            True
2                                 False                            True
3                                 False                            True
4                                 False                            True
...                                 ...                             ...
129875                             True                            True
129876                            False                            True
129877                            False                           False
129878                            False                            True
129879                            False                           False

        Type of Travel_Personal Travel  Class_Business  ...  Food and drink  \
0                                 True           False  ...               5
1                                False            True  ...               1
2                                False            True  ...               5
3                                False            True  ...               2
4                                False            True  ...               4
...                                ...             ...  ...             ...
129875                           False            True  ...               4
129876                           False            True  ...               4
129877                            True           False  ...               2
129878                           False            True  ...               4
129879                            True           False  ...               4

        Online boarding  Seat comfort  Inflight entertainment  \
0                     3             5                       5
1                     3             1                       1
2                     5             5                       5
3                     2             2                       2
4                     5             5                       3
...                 ...           ...                     ...
129875                3             4                       4
129876                4             4                       4
129877                1             2                       2
129878                4             4                       4
129879                2             2                       1

        On-board service  Leg room service  Baggage handling  Checkin service  \
0                      4                 3                 3                4
1                      1                 5                 2                1
2                      4                 3                 3                4
3                      2                 5                 2                1
4                      3                 4                 3                3
...                  ...               ...               ...              ...
129875                 3                 2                 3                4
129876                 4                 5                 4                5
129877                 4                 3                 3                5
129878                 3                 2                 4                4
129879                 1                 2                 0                1

        Inflight service  Cleanliness
0                      5            5
1                      4            1
2                      4            5
3                      4            2
4                      3            3
...                  ...          ...
129875                 5            4
129876                 5            4
129877                 4            2
129878                 5            4
129879                 1            1

[129880 rows x 28 columns]

In [33]:
df_encoded.to_csv('/home/estelle/robotlearn/airline_satisfaction/airline_satisfaction_encoded.csv')

## Imputing Missing Values

In [34]:
nan_counts = df_encoded.isna().sum()

In [35]:
print(nan_counts)

Age                                       0
Flight Distance                           0
Departure Delay in Minutes                0
Arrival Delay in Minutes                393
Gender_Male                               0
Customer Type_Loyal Customer              0
Customer Type_disloyal Customer           0
Type of Travel_Business travel            0
Type of Travel_Personal Travel            0
Class_Business                            0
Class_Eco                                 0
Class_Eco Plus                            0
satisfaction_neutral or dissatisfied      0
satisfaction_satisfied                    0
Inflight wifi service                     0
Departure/Arrival time convenient         0
Ease of Online booking                    0
Gate location                             0
Food and drink                            0
Online boarding                           0
Seat comfort                              0
Inflight entertainment                    0
On-board service                          0
Leg room service                          0
Baggage handling                          0
Checkin service                           0
Inflight service                          0
Cleanliness                               0
dtype: int64

### Univariate feature imputation (Static imputation)

In [36]:
from sklearn.impute import SimpleImputer

In [37]:
X_encoded = df_encoded.values

In [38]:
simple_imputer = SimpleImputer(strategy="mean")
simple_imputer.fit(X_encoded)

X_imputed = simple_imputer.transform(X_encoded)

In [39]:
print(X_imputed)

[[1.300e+01 4.600e+02 2.500e+01 ... 4.000e+00 5.000e+00 5.000e+00]
 [2.500e+01 2.350e+02 1.000e+00 ... 1.000e+00 4.000e+00 1.000e+00]
 [2.600e+01 1.142e+03 0.000e+00 ... 4.000e+00 4.000e+00 5.000e+00]
 ...
 [1.700e+01 8.280e+02 0.000e+00 ... 5.000e+00 4.000e+00 2.000e+00]
 [1.400e+01 1.127e+03 0.000e+00 ... 4.000e+00 5.000e+00 4.000e+00]
 [4.200e+01 2.640e+02 0.000e+00 ... 1.000e+00 1.000e+00 1.000e+00]]

mean strategy : OK for quantitative var, but not for categorical var or ordinal var...

In [40]:
simple_imputer = SimpleImputer(strategy="mean")
simple_imputer.fit(X_quantitative)

X_imputed = simple_imputer.transform(X_quantitative)

In [41]:
X_imputed

array([[1.300e+01, 4.600e+02, 2.500e+01, 1.800e+01],
       [2.500e+01, 2.350e+02, 1.000e+00, 6.000e+00],
       [2.600e+01, 1.142e+03, 0.000e+00, 0.000e+00],
       ...,
       [1.700e+01, 8.280e+02, 0.000e+00, 0.000e+00],
       [1.400e+01, 1.127e+03, 0.000e+00, 0.000e+00],
       [4.200e+01, 2.640e+02, 0.000e+00, 0.000e+00]])

most frequent strategy for categorical var ?
- not working with X_categorical_encoded  
-> encoding after imputing missing values ?

In [42]:
simple_imputer = SimpleImputer(strategy="most_frequent")
simple_imputer.fit(X_categorical)

X_imputed = simple_imputer.transform(X_categorical)

In [43]:
X_imputed

array([['Male', 'Loyal Customer', 'Personal Travel', 'Eco Plus'],
       ['Male', 'disloyal Customer', 'Business travel', 'Business'],
       ['Female', 'Loyal Customer', 'Business travel', 'Business'],
       ...,
       ['Female', 'Loyal Customer', 'Personal Travel', 'Eco'],
       ['Male', 'Loyal Customer', 'Business travel', 'Business'],
       ['Female', 'Loyal Customer', 'Personal Travel', 'Eco']],
      dtype=object)

### KNN imputation

In [44]:
from sklearn.impute import KNNImputer

In [45]:
knn_imputer = KNNImputer(n_neighbors=2, weights="uniform")
knn_imputer.fit(X_encoded)

X_imputed = knn_imputer.transform(X_encoded)

In [46]:
X_imputed

array([[1.300e+01, 4.600e+02, 2.500e+01, ..., 4.000e+00, 5.000e+00,
        5.000e+00],
       [2.500e+01, 2.350e+02, 1.000e+00, ..., 1.000e+00, 4.000e+00,
        1.000e+00],
       [2.600e+01, 1.142e+03, 0.000e+00, ..., 4.000e+00, 4.000e+00,
        5.000e+00],
       ...,
       [1.700e+01, 8.280e+02, 0.000e+00, ..., 5.000e+00, 4.000e+00,
        2.000e+00],
       [1.400e+01, 1.127e+03, 0.000e+00, ..., 4.000e+00, 5.000e+00,
        4.000e+00],
       [4.200e+01, 2.640e+02, 0.000e+00, ..., 1.000e+00, 1.000e+00,
        1.000e+00]])

In [47]:
X_imputed.shape

(129880, 28)

saving best imputation strategy in a df and new csv

In [48]:
df_imputed = pd.DataFrame(X_imputed, columns = ['Age','Flight Distance', 'Departure Delay in Minutes','Arrival Delay in Minutes', 'Gender_Male','Customer Type_Loyal Customer', 'Customer Type_disloyal Customer', 'Type of Travel_Business travel', 'Type of Travel_Personal Travel', 'Class_Business', 'Class_Eco', 'Class_Eco Plus', 'satisfaction_neutral or dissatisfied', 'satisfaction_satisfied', 'Inflight wifi service','Departure/Arrival time convenient','Ease of Online booking','Gate location','Food and drink','Online boarding','Seat comfort','Inflight entertainment','On-board service','Leg room service','Baggage handling','Checkin service','Inflight service','Cleanliness'])

In [49]:
nan_counts = df_imputed.isna().sum()

In [50]:
print(nan_counts)

Age                                     0
Flight Distance                         0
Departure Delay in Minutes              0
Arrival Delay in Minutes                0
Gender_Male                             0
Customer Type_Loyal Customer            0
Customer Type_disloyal Customer         0
Type of Travel_Business travel          0
Type of Travel_Personal Travel          0
Class_Business                          0
Class_Eco                               0
Class_Eco Plus                          0
satisfaction_neutral or dissatisfied    0
satisfaction_satisfied                  0
Inflight wifi service                   0
Departure/Arrival time convenient       0
Ease of Online booking                  0
Gate location                           0
Food and drink                          0
Online boarding                         0
Seat comfort                            0
Inflight entertainment                  0
On-board service                        0
Leg room service                        0
Baggage handling                        0
Checkin service                         0
Inflight service                        0
Cleanliness                             0
dtype: int64

In [51]:
df_imputed

,Age,Flight Distance,Departure Delay in Minutes,Arrival Delay in Minutes,Gender_Male,Customer Type_Loyal Customer,Customer Type_disloyal Customer,Type of Travel_Business travel,Type of Travel_Personal Travel,Class_Business,...,Food and drink,Online boarding,Seat comfort,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness
0,13.0,460.0,25.0,18.0,1.0,1.0,0.0,0.0,1.0,0.0,...,5.0,3.0,5.0,5.0,4.0,3.0,3.0,4.0,5.0,5.0
1,25.0,235.0,1.0,6.0,1.0,0.0,1.0,1.0,0.0,1.0,...,1.0,3.0,1.0,1.0,1.0,5.0,2.0,1.0,4.0,1.0
2,26.0,1142.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,...,5.0,5.0,5.0,5.0,4.0,3.0,3.0,4.0,4.0,5.0
3,25.0,562.0,11.0,9.0,0.0,1.0,0.0,1.0,0.0,1.0,...,2.0,2.0,2.0,2.0,2.0,5.0,2.0,1.0,4.0,2.0
4,61.0,214.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,...,4.0,5.0,5.0,3.0,3.0,4.0,3.0,3.0,3.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129875,34.0,526.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,...,4.0,3.0,4.0,4.0,3.0,2.0,3.0,4.0,5.0,4.0
129876,23.0,646.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,...,4.0,4.0,4.0,4.0,4.0,5.0,4.0,5.0,5.0,4.0
129877,17.0,828.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,2.0,1.0,2.0,2.0,4.0,3.0,3.0,5.0,4.0,2.0
129878,14.0,1127.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,...,4.0,4.0,4.0,4.0,3.0,2.0,4.0,4.0,5.0,4.0
129879,42.0,264.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,4.0,2.0,2.0,1.0,1.0,2.0,0.0,1.0,1.0,1.0

In [52]:
df_imputed.to_csv('/home/estelle/robotlearn/airline_satisfaction/airline_satisfaction_imputed.csv')

## Feature Scaling

## Outlier Removal

## Feature Selection